<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  
  <div class="container">
    <div class="left">

      <form action="/createfile" method="post">
        <input type="textarea"
        name="filename"
        placeholder="Write Filename with extension">
      </form>

      <!-- Showing files in screen -->
      <ul>
       <% files.forEach((file)=>{ %> 
          <li>
            <a href="/<%= file %>"><%= file %></a>
          </li>
       <% }) %>
      </ul>
      
    </div>
    <div class="right">

      <form action="">
        <textarea cols="100" rows="30">
          <%= filedata %>
        </textarea>                                                 
      </form>
    </div>
  </div>

</body>
</html>